<div class="row">
    <div class="col-md-4 sidebar">
      <app-sidebar [resources]="resources" (getUserId)="getPostById($event)"></app-sidebar>
    </div>
    <div class="col-md-8">
      <app-bread-crumb
      [items]="[{text: 'Photos'}]"
      ></app-bread-crumb>
      <div class="flex justify-content-center">
        <app-loader [active]="loader"></app-loader>
      </div>
      <div class="posts">
        <div class="card p-2" *ngIf="!loader && activePost">
          <p class="m-0 small">Usuario selecionado: </p>
          <p class="m-0 medium">{{ user[0].name }}</p>
          <p class="m-0 medium">{{ user[0].email }}</p>
          <p class="m-0 medium">{{ user[0].company.name }}</p>
        </div>
        <ul *ngIf="!loader && activePost" class="p-0 content-photos mt-2 row">
          <li class="card p-3 col-md-3" *ngFor="let photo of photos">
            <div class="slider-item">
              <img [src]="photo.thumbnailUrl" alt="...">
              <b class="m-0 small">{{ photo.title }}</b>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>